div {
  display: block;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

/* .Temperature {
  color: #e92f0e;
  display: none;
}
.Pulse {
  color: #1d0ee9;
  display: none;
}
.Activity {
  color: #0ee90e;
  display: none;
}
.BloodPressure {
  color: #e9c10e;
  display: none;
} */

.selectBoxArrow {
  margin-top: 1px;
  float: left;
  position: absolute;
  right: 1px;
}
.selectBoxInput {
  border: 0px;
  padding-left: 1px;
  height: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.selectBox {
  border: 1px solid #7f9db9;
  height: 20px;
}
.selectBoxOptionContainer {
  position: absolute;
  border: 1px solid #7f9db9;
  height: 100px;
  background-color: #fff;
  left: -1px;
  top: 20px;
  visibility: hidden;
  overflow: auto;
  z-index: 1000;
}
.selectBoxIframe {
  position: absolute;
  background-color: #fff;
  border: 0px;
  z-index: 999;
}
.selectBoxAnOption {
  font-family: arial;
  font-size: 12px;
  cursor: default;
  margin: 1px;
  overflow: hidden;
  white-space: nowrap;
}
