div {
  display: none;
}

/* .Temperature {
  color: #e92f0e;
  display: none;
}
.Pulse {
  color: #1d0ee9;
  display: none;
}
.Activity {
  color: #0ee90e;
  display: none;
}
.BloodPressure {
  color: #e9c10e;
  display: none;
} */
